/* logInView */
.logIn-header {
    margin-bottom: 20px;
    color: #512e1b;
    
    
    
}

.hover-btn {
    background-color: #512e1b;
    color: #d5b195;
    font-size: 15px;
    font-weight: bold;
    border: #d5b195;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.hover-btn:hover {
    background-color: #d5b195;
    color: #512e1b;
    border:#512e1b;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0px 0px 10px black;
}

.input-field-login-signup {
    height: 30px;
    color: #ffffff;
    background-color: #93745d;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: #6a8283;
    padding-left: 10px;
    font-weight: bold;
    border-radius: 50px;
    border-width: 2px;
}



.log-in-logo {
    height: 110px;
    display: flex;
    margin-left: 420px;
    margin-top: -115px;
    
    
    
}

.input-container {
    background-color: #512e1b;
    border: 2px solid #512e1b;
    padding: 40px 100px;
    border-radius: 20px;
    display: inline-block;
}







