.logo-sign-up {
    height: 110px;
    display: flex;
    margin-left: 450px;
    margin-top: -120px;
}

.input-field-login-signup {
    height: 40px;
    width: 200px;
    color: #ffffff;
    background-color: #93745d;
    margin-bottom: 20px;
    border-style: solid;
    border-color: black;
    padding-left: 10px;
    font-weight: bold;
    border-radius: 50px;
    border-width: 2px;
}

.sign-up-txt {
    font-size: 100px;
    color: #512e1b; /* Set the text color (fill) */
    -webkit-text-stroke: 2px black;
}


.sign-up {
    background-color: rgba(255, 255, 255, 0.5); 
        backdrop-filter: blur(10px); 
        border-radius: 50px;
}