body {
    font-family: Inter, sans-serif;
    margin: 0;
    background-color: #d5b195;
    background-image: url(img/Coffee.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -4;
    
}

/* used in logView */
hr {
    width: 100%;
}

/* center elements */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* show elements vertically */
.flex-column {
    flex-direction: column;
}

.main-container {
    height: 80vh;
}

/* default button design */
button {
    border: solid;
    border-color: #512e1b;
    border-width: 2px;
    background-color: rgb(212, 246, 255);
    font-weight: bold;
    color: black;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #d5b195;
    color: #512e1b;
}

.btn-container {
    margin: 10px;
}

/* default header design */
h1 {
    font-size: 4em;
}
h2 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 10px;
}

/* default input field design*/
.input-field {
    padding: 8px;
}

label {
    display: inline-block;
    font-style: italic;
    font-weight: 600;
    margin-top: 4px;
    font-size: 15px;
}


