.logpageButton{
    position: fixed;
    top: -1%;
    right: 15%;
    width: 30px;
    cursor: pointer;
}

.profilePictureJustForShow{
    position: fixed;
    height: 50px;
    width: 50px;
    top: 2.5%;
    right: 10%;
    border: solid 1px black;
    border-radius: 50%;
}

.right{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 20%;
    top: 17%;
}

.testbuttons{
    display: flex;
    position: fixed;
    bottom: 5%;
}

.personalGoals{
    position: fixed;
    top: 20%;
    right: 27.5%;
    color: #512e1b;
    background-color: rgba(255, 255, 255, 0.5); 
        backdrop-filter: blur(10px); 
        border-radius: 10px;
}

.daylieGoals{
    position: fixed;
    top: 28%;
    right: 30%;
    color: black;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.5); 
        backdrop-filter: blur(10px); 
        border-radius: 10px;
        
}

.goal-txt {
    color: #512e1b;
    height: 50px;
    width: 200px;
    padding-left: 10px;
    padding-right: 2px;
    margin: 0;
    
}

.goal-list {
    color: black;
}

.caffianAmount{
    position: fixed;
    bottom: 10%;
    right: 25.5%;
    font-size: 25px;
    
    color: #512e1b; /* Set the text color (fill) */
    -webkit-text-stroke: 0.3px black;

    background-color: rgba(255, 255, 255, 0.5); 
        backdrop-filter: blur(10px); 
        border-radius: 10px;
        width: 400px;
    
}

.goalsInput{
    display: flex;
    position: fixed;
    top: 55%;
    height: 4%;
    right: 33%;

}

.addButtonPos{
    display: flex;
    position: fixed;
    top: 60%;
    right: 32%;

}

.daylieWeekMonth{
    display: flex;
    position: fixed;
    top: 55%;
    height: 4%;
    right: 28%;

}

.Peptalks{
    position: fixed;
    top: 20%;
    left: 29%;
}

.peptalkPops{
    display: flex;
    justify-content: center;
    top: 5%;
    left: 45%;
    font-family: cursive;
    font-size: 50px;
    color: greenyellow; /* Set the text color (fill) */
    -webkit-text-stroke: 2px black;
    
}
.ProgressHeader{
    position: fixed;
    top: 20%;
    left: 20%;
    color: #512e1b;

    background-color: rgba(255, 255, 255, 0.5); 
        backdrop-filter: blur(10px); 
        border-radius: 10px;


}
.profile-header {
    color: #512e1b;
    display: flex;
    justify-content: center;
    background-color: #512e1b;
    margin: 0;
    height: 120px;
    border-bottom: solid;
    border-color: black;
    border-width: 3px;
    
    
}

.home-button {
    display: flex;
    color: #512e1b;
    height: 0px;
    margin-top: 20px;
    margin-left: 20px;
    
    
}

.Profile-name {
    display: flex;
    justify-content: center;
    color: #d5b195;
    margin: 20px;
    

}
.Profile-pluss-logo {
    position: fixed;
    height: 50px;
    width: 50px;
    top: 2.5%;
    right: 15%;
    cursor: pointer;
    
}

.Profile-pluss-logo:hover {
    opacity: 0.7;
    color: #d5b195;
    
    
}

.bar-chart {
    display: flex;
    position: fixed;
    
    left: 20%;
    align-items: flex-end;
    height: 200px;;
    gap: 50px;
    margin-top: 30px;
    bottom: 10%;

    background-color: rgba(255, 255, 255, 0.5); 
        backdrop-filter: blur(10px); 
        border-radius: 10px;
}

.Figures {
    position: fixed;
    left: 10%;
    z-index: -2;
}

.mylog-btn {
    height: 50px;
    width: 140px;
    font-size: larger;
}