.logpageButton{
    position: fixed;
    top: 2%;
    right: 15%;
    width: 30px;
    cursor: pointer;
}

.profilePictureJustForShow{
    position: fixed;
    height: 50px;
    width: 50px;
    top: 7%;
    right: 10%;
    border: solid 1px black;
    border-radius: 50%;
}

.right{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 20%;
    top: 17%;
}

.testbuttons{
    display: flex;
    position: fixed;
    bottom: 5%;
}

.personalGoals{
    position: fixed;
    top: 18%;
    right: 25%;
}

.daylieGoals{
    position: fixed;
    top: 24%;
    right: 37%;
}

.caffianAmount{
    position: fixed;
    bottom: 15%;
    right: 35%;
}

.goalsInput{
    display: flex;
    position: fixed;
    top: 55%;
    height: 4%;
    right: 33%;

}

.addButtonPos{
    display: flex;
    position: fixed;
    top: 60%;
    right: 32%;

}

.daylieWeekMonth{
    display: flex;
    position: fixed;
    top: 55%;
    height: 4%;
    right: 28%;

}

.Peptalks{
    position: fixed;
    top: 18%;
    left: 31%;
}

.peptalkPops{
    position: fixed;
    top: 15%;
    left: 45%;
    font-family: cursive;
}
.ProgressHeader{
    position: fixed;
    top: 18%;
    left: 20%;


}
.center {
    color: #512e1b;
}