.welcome-container {
    flex-direction: column;
    color: #512e1b;
    
    
}
.logo {
    height: 150px;
    display: flex;
    margin-left: 740px;
    margin-top: -150px;
    
}

.Welcome {
    font-size: 115px;
    color: #512e1b; /* Set the text color (fill) */
    -webkit-text-stroke: 2px black;
}


