.header-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: #512e1b;
    border-bottom: solid;
    border-color: black;
    border-width: 3px;
}

.log-header {
    font-size: 55px;
    font-weight: 800;
    margin: 0;
}

.back-btn {
    position: absolute;
    left: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    
}

.reset-btn {
    position: absolute;
    right: 40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.drink-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 650px;
}

.drink-list-item {
    list-style-type: none;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #512e1b;
    color: #FFFFFF;

    width: 100px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;

    border: solid;
    border-color: #98bfd1;
    border-width: 2px
}

#customDrink {
    list-style-type: none;
    text-align: center;
    margin: 10px;
    width: 120px;
    background-color: #512e1b;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    border: solid;
    border-color: #98bfd1;
    border-width: 2px;
}

#customDrink:hover {
    background-color: #683e28;
}

#saveDrinkBtn {
    margin: 10px 0;
}

#inputDrinkContainer {
    display: flex;
}

.drink-input {
    width: 100px;
    padding: 3px;
}

.drink-list-item:hover {
    background-color: #683e28;
}

.log-container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.choose-drink {
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    margin-top: 0;
}

#drinkList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 350px;
    margin: 0 20px;
    padding: 0;
}

#drinkInformation {
    margin: 0 40px 10px;
    padding-top: 20px;
}

.journal-container {
    margin-left: 40px;
}

.journal-header {
    margin-bottom: 10px;
}

#journal {
    resize: none;
    width: 300px;
    height: 100px;
}

.drink-title {
    margin: 0;
    padding-bottom: 5px;
    font-size: 40px;
    font-weight: 550;
}

.drink-info {
    margin: 0;
    padding: 2px;
}

.reflections-header {
    margin-bottom: 10px;
}

#reflections {
    resize: none;
    width: 300px;
    height: 100px;
}

.log-btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#saveLogBtn {
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

#saveLogBtn:hover {
    background-color: #d5b195;
    color: #512e1b;
    border: solid;
    border-color: #512e1b;
}

.drink-input {
    margin-right: 10px;
}

.label-drink {
    margin-right: 8px;

}

