.LogButton{
    position: fixed;
    top: 2%;
    right: 20%;
    width: 30px;
    cursor: pointer;
}

.peptalkButtonAndText{
    position: fixed;
    top: 19%;
    right: 25%;
    height: 40px;
    z-index: 1;
}

.profilePictureJustForShow{
    position: fixed;
    height: 50px;
    width: 50px;
    top: 3%;
    right: 16%;
    border: solid 1px black;
    border-radius: 50%;
}

.personalGoals{
    position: fixed;
    top: 17%;
    right: 25%;
}

.peptalkTextPos{
    position: fixed;
    top: 12%;
    right: 40%;
}

